-
    const onlineCoursesCards = 
        [
            {
                bageColor: 'bage--green', 
                img: 'image-service1.png', 
                bageText: 'Marketing', 
                title: 'The Ultimate Google Ads Training Course', 
                price: '$100', name: 'by Jerome Bell'
            },
            {
                bageColor: 'bage--blue', 
                img: 'image-service2.png', 
                bageText: 'Management', 
                title: 'Prduct Management Fundamentals', 
                price: '$480', 
                name: 'by Marvin McKinney'
            },
            {
                bageColor: 'bage--orange', 
                img: 'image-service3.png', 
                bageText: 'HR & Recruting', 
                title: 'HR  Management and Analytics', 
                price: '$200', 
                name: 'by Leslie Alexander Li'
            },
            {
                bageColor: 'bage--green', 
                img: 'image-service4.png', 
                bageText: 'Marketing', 
                title: 'Brand Management & PR Communications', 
                price: '$530', 
                name: 'by Kristin Watson'
            },
            {
                bageColor: 'bage--pink', 
                img: 'image-service5.png', 
                bageText: 'Design', 
                title: 'Graphic Design Basic', 
                price: '$500', 
                name: 'by Guy Hawkins'
            },
            {
                bageColor: 'bage--blue', 
                img: 'image-service6.png', 
                bageText: 'Management', 
                title: 'Business Development Management', 
                price: '$400', 
                name: 'by Dianne Russell'
            },
            {
                bageColor: 'bage--violet', 
                img: 'image-service7.png', 
                bageText: 'Development', 
                title: 'Highload Software Architecture', 
                price: '$600', 
                name: 'by Brooklyn Simmons'
            },
            {
                bageColor: 'bage--orange', 
                img: 'image-service8.png', 
                bageText: 'HR & Recruting', 
                title: 'Human Resources – Selection and Recruitment', 
                price: '$150', 
                name: 'by Kathryn Murphy'
            },
            {
                bageColor: 'bage--pink', 
                img: 'image-service9.png', 
                bageText: 'Design', 
                title: 'User Experience. Human-centered Design', 
                price: '$240', 
                name: 'by Cody Fisher'
            }
        ];

-
    const cardsBlog = 
        [ 
            {
                img: 'image-marketing.png',
                labelImg: 'mic.svg',
                labelText: 'Podcast',
                name: 'Marketing',
                date: 'September 4, 2020',
                time: '36 min',
                title: 'What is traffic arbitrage and does it really make money?',
                descr: 'Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...',
                btnText: 'Listen'
            },
            {
                img: 'image-development.png',
                labelImg: 'files.svg',
                labelText: 'Article',
                name: 'Development',
                date: 'September 1, 2020',
                time: '',
                title: 'How to choose the first programming language for a beginner',
                descr: 'Turpis sed at magna laoreet gravida consequat tortor placerat. Gravida vitae aliquet enim egestas dui...',
                btnText: 'Read'
            },
            {
                img: 'image-design.png',
                labelImg: 'play.svg',
                labelText: 'Video',
                name: 'Design',
                date: 'August 8, 2020',
                time: '40 min',
                title: 'Should you choose a creative profession if you are attracted to creativity?',
                descr: 'Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...',
                btnText: 'Watch'
            },
            {
                img: 'recruting-image.jpg',
                labelImg: 'files.svg',
                labelText: 'Article',
                name: 'HR & Recruting',
                date: 'August 3, 2020',
                time: '',
                title: 'HR statistics: job search,  interviews, hiring and recruiting',
                descr: 'Massa, lectus nibh consectetur aliquet nunc risus aenean. Leo hac netus bibendum diam adipiscing aenean nisl. Molestie nullam ante mattis ac sit vitae pellentesque mi etiam. Morbi commodo tempor, massa vivamus. A molestie id semper fermentum pretium...',
                btnText: 'Read'
            },
            {
                img: 'management-middle-image.png',
                labelImg: 'play.svg',
                labelText: 'Video',
                name: 'Management',
                date: 'August 2, 2020',
                time: '45 min',
                title: 'What to do and who to talk to if you want to get feedback on the product',
                descr: 'Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus. Curabitur nisl tincidunt eros venenatis...',
                btnText: 'Watch'
            },
            {
                img: 'podcast-image.png',
                labelImg: 'mic.svg',
                labelText: 'Podcast',
                name: 'Design',
                date: 'July 28, 2020',
                time: '36 min',
                title: 'What are color profiles and how they work in graphic design',
                descr: 'Aliquam vulputate hendrerit quam sollicitudin urna enim viverra gravida. Consectetur urna arcu eleifend...',
                btnText: 'Listen'
            },
            {
                img: 'management-image.png',
                labelImg: 'play.svg',
                labelText: 'Video',
                name: 'Management',
                date: 'July 15, 2020',
                time: '45 min',
                title: 'Startup: how to build a team that will live longer than a year',
                descr: 'Nisi, massa ut sit faucibus et diam. Faucibus at malesuada at justo scelerisque in nisi, urna...',
                btnText: 'Watch'
            },
            {
                img: 'marketing-image.jpg',
                labelImg: 'files.svg',
                labelText: 'Article',
                name: 'Marketing',
                date: 'July 9, 2020',
                time: '',
                title: 'How to get customers to love your business from the start',
                descr: 'Malesuada in augue mi feugiat morbi a aliquet enim. Elementum lacus, pellentesque etiam arcu tristique ac...',
                btnText: 'Read'
            },
        ];

mixin tab(tabs= [], tabPage= '')
    if tabPage === 'home-tabs'
        .tab__layout
            each item, index in tabs
                input(name="nav" class=`${index}-radio` type="radio" id=`${index}` checked=index == 0 )
                .tab__page(class=`${index}-page`)
                    .tab__page-contents
                        .tab__content
                            .tab__content-left
                                .tab__content-title= item.title
                                .tab__content-text= item.descr
                            .tab__content-pic
                label.tab__nav(for=`${index}`)
                    img.tab__pic(src=require(`../../assets/images/${item.nameImg}`))
                    span.tab__nav-text= item.name
    else if tabPage === 'blog-tabs'
        .blog-tab__layout
            each item, index in tabs
                input(name="nav" class=`${index}-radio` type="radio" id=`${index}` checked=index == 0 )
                .blog-tab__page(class=`${index}-page`)
                    .blog-tab__page-contents
                        .blog-tab__content
                            +blogCards(cardsBlog)
                label.blog-tab__nav(for=`${index}`)
                    if index != 0
                        img.blog-tab__pic(src=require(`../../assets/images/${item.nameImg}`))
                    span.blog-tab__nav-text= item.name
            form.blog-tab__search(action="", method="")
                .blog-tab__category Blog category
                select.blog-tab__cat-select(name="category")
                    option.blog-tab__cat-option(value="all themes", selected) all themes
                    option.blog-tab__cat-option(value="all themes", selected) Marketing
                    option.blog-tab__cat-option(value="all themes", selected) Development
                    option.blog-tab__cat-option(value="all themes", selected) Design
                input.blog-tab__inp(type="text" placeholder="Search blog...")
                button.blog-tab__search-img(type="submit")
    else
        .courses-tab__layout
            each item, index in tabs
                input(name="nav" class=`${index}-radio` type="radio" id=`${index}` checked=index == 0 )
                .courses-tab__page(class=`${index}-page`)
                    .courses-tab__page-contents
                        .courses-tab__content
                            .online-courses__cards
                                each card in onlineCoursesCards
                                    .online-courses__card-wrap
                                        +card(
                                            card.bageColor, 
                                            card.img, card.bageText, 
                                            card.title, card.price, 
                                            card.name, 
                                            'online-courses__card', 
                                            'online-courses__card-pic')
                label.courses-tab__nav(for=`${index}`)
                    span.courses-tab__nav-text= item.name
                        span.courses-tab__nav-num
                            sup= item.num
            form.online-courses__search(action="")
                input.online-courses__inp(type="text" placeholder="Search course...")
                button.online-courses__search-img(type="submit")